@charset "utf-8";

.nav{ position: fixed; z-index: 10;top: 55px; left: 4.84vw; width: 20.4vw; max-width: 175px; }
.icon{ display: flex; } 

section, main {position: relative; display: block;}
.btn_humberger_box { opacity: 0; -webkit-transition: opacity 0.2s cubic-bezier(0.36, 0.14, 0, 1) 0.8s; transition: opacity 0.2s cubic-bezier(0.36, 0.14, 0, 1) 0.8s; }

.link_ig { font-size: 1.3rem; }
.link_ig span { margin-right: 9px; }
.nav_txt, .main_nav { font-size: 1.6rem; font-weight: 700; margin: 54px 0 29px; }
.main_nav li { line-height: 1.35; margin-bottom: 20px; position: relative; }
.main_nav li a { display: inline-block; }
.main_nav span { font-size: 1.1rem; font-weight: 400; display: block; margin: 0 0 5px -15px; }

.top_main{ background: #EBEBEB;  width: 100%; height: 100vh; position: relative; }
.top_main > .inner{ width: 46.93%; margin: 0px auto; padding: 107px 0 107px;}
.top_main_txt{ font-size: 2.0rem; text-align: center; font-weight: 700; }


.takahashi_body > .inner{  width: 46.93%; margin: 0px auto; padding: 114px 0 147px 0;}
.takahashi_name { font-size: 6.0rem; text-align: center; }
.takahashi_name_ja { font-size: 2.0rem; text-align: center; margin-top: 8px; font-weight: 700;  }
.takahashi_illust { width: 30%; min-width: 155px; max-width: 232px; margin: 0 auto; }
.takahashi_illust img { width: 100%; }
.takahashi_txt { margin-top: 72px; }

.favorite_wrapper { background: #EBEBEB; }
.favorite > .inner { width: 70%; margin: 0 auto;}

.fav_body { width: 59.42%; margin: 0 auto 0; padding: 107px 0 107px } 
.fav_name { font-size: 5.0rem; line-height: 1; }
.fav_item_list { display: flex; flex-wrap: wrap; margin-top: 55px; }
.fav_item { width: 31.46%; margin-left: 2.81%; margin-bottom: 50px; }
.fav_item:nth-child(3n+1) { margin-left: 0; }
.fav_item_ph > div { padding-bottom: calc(100% - 2px); position: relative; box-sizing: border-box; }
.fav_item_ph img { width: 100%; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }
.fav_item_name { font-size: 3.3rem; line-height: 1; margin-top: 12px; }
.fav_item_name_jp { font-size: 1.3rem; font-weight: 700; }
.fav_item_name .r{ font-size: 1.6rem; width: 16px; }
.fav_item_name .link_external { position: relative; }
.fav_item_name .link_external span { display: block; width: 16px; position: absolute; right: -24px; top: 5px; line-height: 0; }
.fav_item_name .link_external span img { width: 100%;}

.wrapper { background-color: #444; }
.copywrites{ color: #ddd; width: 141px; padding: 10px; margin: 0 auto; }

@media screen and (max-width: 768px ){
    .takahashi_body { width: 70.66%; margin: 65px auto 0; }
    .takahashi_illust { min-width: 137px; width: 36.52%; margin: 0 auto 67px; }
    .takahashi_txt { width: auto; margin-top: 36px; }
    .takahashi_name{ font-size: 2.8rem; text-align: center; margin: 34px 0 0; line-height: 1; }

    .favorite { width: auto; margin: 78px auto 0; padding: 52px 0 46px; }
    .favorite > .inner { width: 86.66%; margin: 0 auto; }
    .fav_item_name { font-size: 3.0rem; line-height: 1; text-align: center; }
    .fav_item_name .link_external { padding-right: 30px; position: relative; }
    .fav_item_name .link_external span { display: block; width: 20px; position: absolute; right: 0; top: 5px; line-height: 0; }

    .fav_item_list { display: flex; flex-wrap: wrap; margin-top: 36px; }
    .fav_item { width: 47.69%; margin-left: 4.62%; margin-bottom: 32px; }
    .fav_item:nth-child(3n+1) { margin-left: 4.62%; }
    .fav_item:nth-child(2n+1) { margin-left: 0; }
    .fav_item_ph > div { padding-bottom: calc(100% - 2px); position: relative; box-sizing: border-box; }
    .fav_item_ph.line > div { border: 1px solid #ccc; }
    .fav_item_ph img { width: 100%; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }
    .fav_name { font-size: 2.3rem; line-height: 1; margin-top: 12px; }
    .fav_item_name_jp { font-size: 1.0rem; font-weight: 700; }
    .fav_item_name .link_external { position: relative; }
    .fav_item_name .link_external span { display: block; width: 14px; position: absolute; right: -22px; top: 3px; line-height: 0; }
    .fav_item_name .link_external span img { width: 100%; }
}