/*fade*/
.js-scroll-fade { opacity: 0; }
.isActive {
    -webkit-animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-name: fadeUp;
    animation-name: fadeUp;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}
@-webkit-keyframes fadeUp{
	0%{opacity:0;-webkit-transform:translateY(30px);transform:translateY(30px)}
	to{opacity:1;-webkit-transform:none;transform:none}
}
@keyframes fadeUp{
	0%{opacity:0;-webkit-transform:translateY(30px);transform:translateY(30px)}
	to{opacity:1;-webkit-transform:none;transform:none}
}

a:hover{ color: #ccc; }